  
  <div class="stuff-list_item" style="background-color:{{#if exist}}aquamarine{{else}}#cd5c5c{{/if}}; margin:10px; border-radius:10px; padding:10px;" >
      <h5>{{this.name}} : {{this.price}} руб.</h5>      
      <p>{{this.desc}}</p>
      <a href="/stuff/item{{this.id}}" >Открыть</a>
  </div>  